
    <div id="work" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title">Content</h2>
            <p class="content-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
                sed bibendum turpis luctus eget
            </p>
            <!-- begin row -->
            <div class="row row-space-10">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="~/assets/img/img-1.jpg"  /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Aliquam molestie</span>
                            <span class="desc-text">Lorem ipsum dolor sit amet</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="~/assets/img/img-2.jpg" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Quisque at pulvinar lacus</span>
                            <span class="desc-text">Lorem ipsum dolor sit amet</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="/assets/img/img-3.jpg" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Vestibulum et erat ornare</span>
                            <span class="desc-text">Lorem ipsum dolor sit amet</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="/assets/img/img-4.jpg"  /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Sed vitae mollis magna</span>
                            <span class="desc-text">Lorem ipsum dolor sit amet</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
         
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>